@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');


body {
  color: #112;
  font-family: Rubik, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.625rem;
  line-height: 1.5;
  padding: 2rem;
}

@media screen and (max-width: 400px) {

  body {
    font-size: 1rem;
    padding: 1rem;
  }

}

a {
  background-color: black;
  border-radius: .125rem;
  color: white;
  padding: 0 .5rem;
  text-decoration: none;
}

a:hover,
a:focus {
  background-color: #60c;
}

.link--shy {
  background: none;
  color: #60c;
  padding: 0;
}

.link--shy:hover,
.link--shy:focus {
  background: none;
  border-bottom: .125rem solid #caf;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2 {
  font-weight: 400;
  margin: 0;
}

.stars {
  color: #60c;
  font-size: 1rem;
  vertical-align: middle;
}


/* Content wrapper */

.wrap {
  max-width: 40rem;
}


/* Intro */

.intro {
  border-bottom: .125rem solid;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 400px) {

  .intro {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

}

.logo {
  opacity: .1;
}


/* Projects */

.projects__list {
  list-style: none;
  padding: 0;
}

.projects__item {
  position: relative;
}

.projects__item + .projects__item {
  margin-top: 2rem;
}
